h1 {
    text-align: center;
     color: rgb(235, 225, 225);
    }

h2 {
    text-align: left; color: rgb(235, 225, 225); 
    font-weight: bold;
}

p {
    color: rgb(235, 225, 225); 
    text-align: center;
}

ul {
    color: rgb(235, 225, 225);
     text-align: center;
    }

li {
    color: rgb(235, 225, 225); 
    text-align: center;
}

body {
    background-color: rgb(22, 21, 21); 
    margin: 50px; padding: auto;
}

img{
    width:300px ;
    height:200px ;
}